<h1>Facility Details</h1>

<p class="text-right">
	<%= link_to 'Edit', edit_facility_path(@facility) %> |
	<%= link_to 'Back', facilities_path %>
</p>

<h3>Name:</h3>
<p class="lead">
	  <%= @facility.name %>
</p>

<h3>Description:</h3>
<p class="lead">
  <%= @facility.description.blank? ? "No Description Found" : @facility.description %>
</p>