<%= content_for(:title, "Control Panel") %>
<div class="row">
    <div class="col-xs-10 col-md-6">
        <a href="#">Manage Roles</a>
    </div>
    <div class="col-xs-10 col-md-6">
        <a href="#">Manage Categories</a>
    </div>
    <div class="col-xs-10 col-md-6">
        <a href="#">Manage Facilities</a>
    </div>
    <div class="col-xs-10 col-md-6">
        <a href="#">Manage Users</a>
    </div>
    <div class="col-xs-10 col-md-6">
        <a href="#">Manage Properties</a>
    </div>
</div>